*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 50px;
    height: 100%;
    min-width: 320px;
    overflow-x: hidden
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .28em;
    line-height: 1;
    color: #333;
    margin: 0
}

.container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: darkgrey;
    padding: 1rem;
    overflow-y: scroll;
}
.container .title{
    margin: 0 auto;
    font-size: 0.6rem;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    text-align: center;
    margin-bottom:0.4rem;
}
.container .login-wrap{
    max-width:8rem;
    padding: 0.4rem;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
}
.login-wrap .user-ipt{
    max-width:360px;
    text-align: center;
    vertical-align: middle;
}
.user-ipt .ipt-wrap{
    margin-bottom:0.2rem;
}
.user-ipt .text-ipt{
    display: inline-block;
    width:1.28rem;
    text-align: right;
}
.login-wrap .login-button{
   width:1.2rem;
   height:0.48rem;
   line-height:0.4rem;
   font-size: 0.28rem;
   padding: 0.04rem 0;
   border-radius: 0.1rem;
   border:0;
}
.chat-wrap .chat-content{
    width:100%;
    height:12rem;
    background-color: whitesmoke;
    padding:0.2rem;
    overflow-x: auto
}
.chat-wrap .send-wrap{
    margin-top: 0.4rem;
}
.message-ipt{
    width: 4rem;
    height: 2rem;
    padding: 0 0.1rem;
    vertical-align: bottom;
}
.chat-content p{
    display: block;
    margin-bottom: 0.2rem;
}
.chat-content p .msg{
    display: inline-block;
    padding: 0.16rem 0.22rem;
    border-radius:0.12rem;
    max-width: 80%;
    word-wrap: break-word;
}
.chat-content p > img{
    
    border-radius: 50%;
    box-shadow: 0 0 0.2rem purple;
}
.chat-content p .name {
    background: lightblue;
    border-radius: 20%;
    max-width: 1rem;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.chat-content .self-message .msg{
    background-color:#d0e7ff;
    border: 1px solid #c9dfff;
}
.chat-content .other-message .msg{
    background-color:white;
    border: 1px solid #eee;
}

.chat-content .msg img {
    vertical-align: middle;
    max-width: 100%;
}
.chat-content .self-message{
    text-align:right;
}
.chat-content .other-message{
    text-align-last:left;
}

.header {
    width: 1rem;
    height: 1rem;
    border: 1px solid #ccc;
    background: url('../images/add.png') no-repeat rgba(10, 10, 6, .1);
    background-size: 100% 100%;
    margin:  0.1rem auto;
}

.header .files {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    top: 0;
    left:0;
    /* visibility: hidden; */
    overflow: hidden;
    opacity: 0;
}

.preview {
    width: 1rem;
    height: 1rem;
    border: 1px solid lightblue;
    margin: 0.1rem auto;
}

.preview::before {
    background-color: rgba(0, 0, 0, .5);
    transition: all .3s;
}

.header-img {
    width: 2rem;
    height: 1rem;
    position: absolute;
    display: none;
}
.img-list{
    width: 2rem;
    height: 1rem;
    background: lightblue;
    padding-left: 0.1rem;
    /* display: flex; */
}
.img-list li{
    float: left;
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid #ccc;
    margin: 0.1rem 0.05rem 0 0;
    /* flex: 1; */
}

.img-list li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}


.send-wrap {
    width: 5rem;
    position: relative;
}


/* .send-emoil */

.send-emoil-con {
    width: 5rem;
    min-height: 7rem;
    position: relative;
}
.send-emoil {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0;
}
.send-emoil img {
    vertical-align: middle;
    margin: 0;
    width: 24px;
    height: 24px;
}

.check {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}
.send-msg {
    position: absolute;
    top: 0.5rem;
    left: 2rem;
}
.choose-img-con {
    position: absolute;
    top: 0.4rem;
    left: 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    background: url(../images/add.png) no-repeat;
    background-size: 100% 100%;
}
.choose-img{
    position: absolute;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0.6rem;
    height: 0.6rem;
    opacity: 0;
}


.emoil-box {
    display: none;
    position: absolute;
    top: 2rem;
    width: 6rem;
    height: 5rem;
    border: 1px solid lightblue;
    padding: 0.5rem
   
}
.emoil-list {
    
    width: 5rem;
    height: 4rem;
    background: lightblue;
}

.emoil-list li{
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.05rem 0.05rem 0 0;
    border: 1px solid #ccc;
    float: left;
}

.emoil-list li:hover{
    cursor: pointer;
}

[contenteditable=true] {
    display: inline-block;
    width: 5rem;
    min-height: 0.5rem;
    padding: 0.1rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    background: #ccc;
    vertical-align: middle;
    min-height: (3em * line-height);/*1个input的高度*/
    /* 这里写一个输入框应该有的样式 */
    border:1px solid #ccc;
    background:#ccc;
    font-size: 0.4rem;
    line-height: 0.5rem;
    box-shadow: 0 0 1px lightcoral inset;	   
}

.tip, .div-leave {
    background: #eee;   
}

.user-msg {
    max-width: 4rem;
    height: 0.6rem;
    padding: 0.1rem;
    box-sizing: border-box;
    background: lightblue;
    border: 1px solid purple;
    border-radius: 0.3rem;
    margin:0.1rem;
    line-height: 0.4rem;
}
.user-msg img {
    text-align: left;
}
.user-msg span {
    margin: 0 0.2rem;
}