html, body {
    width: 100%;
    height: 100%;
}
.result-container{
    width: 100%;
    height: 100%;
    background: url(../images/result/bg_res.jpg) no-repeat;
    background-size: 100% 100%;
    overflow-y: hidden;
}

.result-con {
    width: 100%;
    height: 100%;
    padding-top: 1.1rem;
    box-sizing: border-box;
}
.first-fifg {
    width: 4.71rem;
    height: 1.05rem;
    margin-left: 1.22rem;
    background: url(../images/result/5g_res.png) no-repeat;
    background-size: 100%;
}

.per-title  {
    width: 4.22rem;
    height: 1.63rem;
    margin: 0.68rem 0 1.3rem 1.67rem;
    font-size: 0.34rem;
    color: #fff;
}
.many-bits {
    font-size: 1.41rem;
}

.des {
    height: 0.38rem;
    color: #fff;
    font-size: 0.24rem;
    margin: 0 0 0.36rem 1.74rem;
}

.des-rocket {
    font-size: 0.4rem;
}

.per-info {
    margin-left: 1.16rem;
}
.per-info > div {
    float: left;
    width: 1.1rem;
    height: 1.52rem;
    color: #fff;
    text-align: center;
}
.info-left, .info-mid {
    margin-right: 0.96rem;
}

.info-left-wen, .info-mid-wen, .info-mid-wen {
    font-size: 0.27rem;
}
.info-left-img, .info-mid-img {
    width: 0.13rem;
    height: 0.11rem;
    margin: 0.13rem auto 0.28rem;
}

.info-left-img {
    background: url(../images/result/down_arr.png) no-repeat;
    background-size: 100% 100%;
}

.info-mid-img {
    background: url(../images/result/up_arrow.png) no-repeat;
    background-size: 100% 100%;
}

.info-right-img {
    width: 0.2rem;
    height: 0.13rem;
    background: url(../images/result/signal.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.13rem auto 0.28rem;
}

.info-left-num, .info-mid-num, .info-right-num {
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.08rem
}
.info-left-unit, .info-mid-unit, .info-right-unit {
    font-size: 0.18rem;
    color: #c1dffe;
}



