.btn,
.cinemacard,
.dealcard,
.more,
.swiper-container .icon {
	box-sizing: border-box
}

.iconfont {
	font-family: iconfont!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

html {
	font-size: 50px;
	height: 100%;
	min-width: 320px;
	overflow-x: hidden
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .28em;
	line-height: 1;
	color: #333;
	background-color: #f0efed;
	margin: 0
}

.navbar {
	height: 1.01rem;
	color: #fff;
	background: #06c1ae;
	border-bottom: 1px solid #21897d;
	display: -webkit-box;
	position: relative
}

.navbar .nav-wrap-left {
	height: 1.01rem;
	line-height: 1.01rem
}

a.react,
label.react {
	display: block;
	color: inherit;
	height: 100%
}

.icon-downarrow,
.navbar .nav-city,
space {
	display: inline-block
}

a {
	color: #06c1ae;
	text-decoration: none;
	outline: 0
}

.navbar .nav-city {
	line-height: 1;
	vertical-align: middle;
	text-align: center;
	margin-right: .2rem;
	margin-left: .2rem;
	font-size: .32rem
}

space {
	width: .12rem
}

.icon-downarrow {
	width: .18rem
}

.navbar .box-search {
	-webkit-box-flex: 1;
	border-radius: .06rem;
	background: rgba(0, 0, 0, .15);
	height: .64rem;
	line-height: .64rem;
	position: relative;
	margin-top: .2rem
}

#daogou,
.swiper-container {
	border-bottom: 1px solid #DDD8CE;
	background-color: #fff
}

.navbar .icon-search {
	position: absolute;
	left: .2rem;
	font-size: .3rem;
	color: #fff
}

.navbar .box-search span {
	font-size: .26rem;
	color: #68dbce;
	padding-left: .6rem;
	box-sizing: border-box;
	width: 100%;
	display: block
}

.nav-btn {
	display: inline-block;
	font-size: .2rem;
	line-height: 1;
	vertical-align: middle
}

.nav-wrap-right a {
	display: inline-block;
	height: 100%;
	line-height: 1rem;
	text-align: center;
	width: .94rem
}

.navbar .nav-btn .my {
	font-style: normal;
	display: block;
	font-size: .4rem;
	margin-bottom: .12rem
}

.swiper-container {
	width: 100%;
	height: 3.6rem;
	margin: 0;
	border-top: 0
}

.swiper-container .icon {
	float: left;
	width: 20%;
	text-align: center;
	margin: 0
}

.swiper-container .icon>a {
	padding: .2rem 0
}

.swiper-container .new-icon-circle {
	display: block;
	margin: auto auto .14rem;
	width: .8rem;
	height: .8rem;
	border-radius: 10rem;
	text-align: center;
	line-height: .8rem;
	font-size: .5rem;
	color: #fff
}

.swiper-container .icon-desc {
	text-align: center;
	font-size: .24rem;
	color: #666
}

#daogou {
	border-top: 1px solid #DDD8CE;
	margin-top: .2rem;
	margin-bottom: 0
}

#daogou .top .react,
.guessLike {
	border-bottom: 1px solid #ddd8ce
}

#daogou .innerbox {
	padding: .12rem;
	display: flex;
	overflow: hidden;
	text-align: center
}

#daogou .left {
	flex: 1
}

#daogou .right {
	flex: 2
}

#daogou .react {
	flex: 1;
	padding: 0;
	border-left: 1px solid #ddd8ce;
	height: 2.26rem;
	text-align: center
}

#daogou .left .react {
	height: 2.96rem;
	border-right: 1px solid #ddd8ce
}

#daogou .react:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: 0
}

#daogou .info {
	vertical-align: top;
	width: 1.7rem;
	text-align: left;
	display: inline-block
}

.btn,
.text-icon {
	vertical-align: middle
}

#daogou .info strong {
	display: block;
	color: #55a40f;
	font-size: .3rem;
	margin-top: .12rem;
	margin-bottom: .36rem
}

.imgbox {
	background-color: #E0E0E0;
	background-image: url(../img/load.png);
	position: relative;
	max-width: 4rem;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 50%
}

#daogou .left .imgbox {
	width: 1.76rem;
	height: 1.76rem;
	margin: auto;
	display: block
}

.imgbox img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

#daogou .top .react {
	height: 1.46rem
}

#daogou .left .info strong,
#daogou .top .info strong {
	margin-top: .3rem;
	margin-bottom: .25rem
}

#daogou .goodlife strong {
	color: #ff3f0d
}

#daogou .right .imgbox {
	width: 1.3rem;
	height: 1.3rem;
	display: inline-block
}

#daogou .bottom .react {
	height: 1.48rem
}

#daogou .bottom {
	display: flex
}

#daogou .bottom .imgbox {
	width: .8rem;
	height: .8rem;
	display: block;
	margin: auto
}

#daogou .bottom .info strong {
	margin-bottom: .14rem;
	color: #f742a0
}

#daogou .bottom .mingdian strong {
	color: #ff8601
}

#daogou .mingdian small {
	display: block;
	margin-bottom: .2rem;
	margin-top: .2rem
}

.mingdian .time .span-time {
	display: inline-block;
	background-color: #4C4C4C;
	width: .4rem;
	height: .3rem;
	border-radius: .06rem;
	text-align: center;
	line-height: .3rem;
	font-size: .24rem;
	color: #fff
}

.guessLike {
	border-top: 1px solid #ddd8ce;
	margin-top: .2rem;
	margin-bottom: 0;
	background-color: #fff;
	min-height: 5rem;
	position: relative
}

.dealcard-img>img,
footer {
	background-color: #f0efed
}

dl.list {
	padding-left: .2rem;
	border: 0;
	margin: 0
}

dl.list dd,
dl.list dt {
	margin: 0;
	border-bottom: 1px solid #DDD8CE;
	overflow: hidden;
	font-size: inherit;
	font-weight: 400;
	position: relative
}

dl.list dd>.react,
dl.list dt {
	padding: .28rem .2rem
}

dl.list dt {
	font-size: .34rem;
	color: #333
}

.cinemacard,
.dealcard {
	position: relative;
	margin: -.08rem 0
}

.dealcard-img {
	position: absolute;
	width: 1.8rem;
	height: 1.64rem;
	text-align: center;
	overflow: hidden
}

.dealcard-img>img {
	background-size: 100%;
	border: 0
}

.dealcard .dealcard-block-right {
	margin-left: 2rem;
	position: relative;
	height: 1.64rem
}

.cinemacard .cinemacard-brand,
.dealcard .dealcard-brand {
	padding-top: .1rem;
	margin-bottom: .12rem;
	font-size: .3rem;
	font-weight: 400;
	color: #333
}

.cinemacard .title,
.dealcard .title {
	font-size: .24rem;
	height: .68rem;
	margin-bottom: .16rem;
	color: #666;
	text-overflow: ellipsis;
	overflow: hidden
}

.text-block {
	line-height: 1.41;
	text-align: justify
}

.btn,
.copyright,
.footer-links,
.footer-nav li,
.to_top {
	text-align: center
}

.cinemacard .price,
.dealcard .price {
	color: #666;
	position: relative
}

.dealcard .price {
	position: absolute;
	width: 100%;
	bottom: 0
}

.cinemacard .price .line-right,
.dealcard .line-right {
	position: absolute;
	top: .04rem;
	right: 0;
	font-size: .24rem
}

.cinemacard .price .strong,
.dealcard .price .strong {
	font-size: .38rem;
	color: #06c1ae
}

.cinemacard .price>.strong-color,
.dealcard .price>.strong-color {
	font-size: .26rem;
	color: #06c1ae
}

.dealcard .tag,
.poi-dealcard .tag {
	border: .02rem solid #f90;
	color: #f90;
	line-height: 1.5;
	display: inline-block;
	padding: 0 .06rem;
	font-size: .22rem;
	border-radius: .06rem
}

.guessLike .db {
	height: .8rem;
	line-height: .8rem;
	font-size: .3rem
}

.btn,
.footer_bar {
	font-size: .28rem
}

.guessLike .db>.react {
	color: #06c1ae;
	padding: 0 .2rem
}

.more {
	position: relative;
	padding-right: .3rem;
	width: 100%
}

.more:after {
	position: absolute;
	right: .05rem;
	top: 50%;
	display: block;
	content: '';
	width: .6em;
	height: .6em;
	border-left: .04rem solid #06c1ae;
	border-bottom: .04rem solid #06c1ae;
	transform: translateY(-50%) scaleY(.7) rotateZ(-135deg)
}

footer {
	margin-top: .3rem;
	padding: 0 .2rem .4rem
}

.footer_bar {
	margin-bottom: .4rem
}

.pull-right {
	float: right
}

.btn {
	display: inline-block;
	margin: 0;
	height: .6rem;
	padding: 0 .32rem;
	border-radius: .06rem;
	color: #fff;
	border: 0;
	background-color: #06c1ae;
	line-height: .6rem;
	cursor: pointer
}

.btn-weak,
.footer-nav li>a {
	color: #06c1ae
}

.btn-weak {
	border: .02rem solid #06c1ae;
	padding: 0 .3rem;
	background: 0
}

.footer-citybtn,
.footer-minebtn {
	width: 1.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.footer-nav {
	margin-bottom: .18rem
}

.footer-nav ul {
	margin: 0;
	padding: .18rem 0;
	font-size: .24rem;
	display: flex
}

.footer-nav li {
	list-style: none;
	flex: 1;
	border-right: .02rem solid #666
}

.footer-nav li:last-child {
	border-right: 0
}

.copyright,
.copyright a {
	color: #999
}

.footer-links {
	font-size: .24rem;
	margin: .3rem .2rem
}

.copyright .hr {
	content: "";
	width: 100%;
	position: absolute;
	top: 50%;
	border-top: 1px solid #999
}

.copyright {
	font-size: .22rem;
	position: relative
}

.copyright span {
	position: relative;
	padding: 0 .3rem;
	background-color: #f0efed
}

.to_top {
	display: none;
	position: fixed;
	right: .3rem;
	bottom: 1.5rem;
	width: .86rem;
	height: .86rem;
	line-height: .86rem;
	background: #06c1ae;
	z-index: 130;
	border-radius: 50%;
	color: #fff;
	overflow: hidden;
	font-size: .5rem
}

.text-icon {
	font-family: base_icon;
	display: inline-block;
	font-style: normal
}