<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>app3</title>
	<style>
		label{
			display: inline-block;
			width: 5rem;
		}
		.form-list{
			width: 20rem;
			height: 20rem;
		}
		.form-list li{
			margin: 1rem;
		}
	</style>
</head>
<body>
	<div id="container">
		<h2><%= title %></h2>
		<div class="con">
			<form action="<%= host %>/show" method="post" enctype="multipart/form-data">
				<div class="tab-pane active in" id="home">
					<ul class="form-list">
						<li>
							<label for="username">用户名:</label>
							<input type="text" name="name" id="username" placeholder="用户名">
						</li>
						<li>
							<label for="password">密 码:</label>
							<input type="password" name="psd" id="password" placeholder="密码">
						</li>
						<li>
							<label for="rpassword">重复密码:</label>
							<input type="password" name="rpsd" id="rpassword" placeholder="再次输入密码">
						</li>
						<li>
							<label for="email">邮箱:</label>
							<input type="email" name="email" id="email" placeholder="邮箱">
						</li>
						<li>
							<label for="phone">电话:</label>
							<input type="tel" name="phone" id="phone" placeholder="电话">
						</li>
						<li>
							<label for="file">上传头像:</label>
							<input type="file" name="image" id="file" onchange="showPreview(this)" />

							<div class="preview">
							</div>
						</li>

						<li>
							<label for="MD5">md5</label>
							<input type="text" name="nameM" id="MD5" placeholder="md5">
						</li>
						
						<li>
							<label for="submit">提交</label>
							<input type="submit" name="btn" id="submit" >
							
						</li>
						
						
					</ul>


                </div>
                
			</form>
			
		</div>
	</div>

	<script>
        
        //正則： http://www.runoob.com/js/js-regexp.html
        //正則表： http://tool.oschina.net/uploads/apidocs/jquery/regexp.html

		const preview = document.querySelector('.preview')

		function showPreview(source) {  
	        let file = source.files[0];  
	        if (window.FileReader) {  
	            let fr = new FileReader();  
	            fr.onloadend = function(e) {  
                    // let str = `<img src="${e.target.result}" alt="">`
                    console.log(e.target)
                    let reg = /(image\/jpeg)|(image\/png)|(image\/svg)|(image\/gif)/
                    let reg2 = /(video\/mp4)|(video\/ogg)|(video\/mov)|(video\/flv)/

                    console.log(reg.test(e.target.result))
                    if(reg.test(e.target.result)) {
                        preview.innerHTML = `<img src="${e.target.result}" alt="" width="100" height="100" />`                        
                    } else if(reg2.test(e.target.result)) {
                        preview.innerHTML = `<video src="${e.target.result}" width="200" height="100" controls="controls" autoplay="autoplay" loop="loop" class="video-show"></video>`
                    }
                    
	            };  

	            if (file){
	            	fr.readAsDataURL(file)
	            } else{
	            	preview.innerHTML = ''
	            }
	            // fr.readAsDataURL(file);  
	        }  
	        
        } 
        
        let isName = false;
        let isPsd = false;
        let isRsd = false;
        let isEml = false;
        let isPhe = false;
        
       
        //username
        username.onblur = function() {
            let userVal = username.value
            if(isUsername(userVal)) {
                console.log("username")
                username.style.borderColor = 'initial'
                isName = true
            } else {
                username.style.borderColor = 'red'
            }
        }
        
        password.onblur = function() {
            let psdVal = password.value
            if(isPassword(psdVal)) {
                console.log('password')
                password.style.borderColor = 'initial'
                isPsd = true
            } else {
                password.style.borderColor = 'red'
            }
        }

        rpassword.onblur = function() {
            let rval = rpassword.value
            let initVal = password.value
            if(rval === initVal) {
                console.log('rpassword')
                rpassword.style.borderColor = 'initial'
                isRsd = true
            } else {
                rpassword.style.borderColor = 'red'
            }
        }

        email.onblur = function() {
            let eval = email.value
            if(isEmail(eval)) {
                console.log('email')
                email.style.borderColor = 'initial'
                isEml = true
            } else {
                email.style.borderColor = 'red'
            }
        }

        phone.onblur = function() {
            let pval = phone.value
            if(isPhone(pval)) {
                console.log('phone')
                phone.style.borderColor = 'initial'
                isPhe = true
            } else {
                phone.style.borderColor = 'red'
            }
        }

        if(isName && isPsd && isRsd && isEml && isPhe) {
            // submit.disabled = "disabled"
            console.log("aaaaaaa") 
        }else {
            // submit.disabled = "disabled"
        }
        //isUsername
        function isUsername(str) {
            let reg = /^[a-z0-9_-]{3,16}$/ 
            let reg2 =  /^[\u4E00-\u9FA5]{2,4}$/
            return reg.test(str) || reg2.test(str)
        }
        //isPassword
        function isPassword(str) {
            let reg = /^[a-z0-9_-]{6,18}$/
            return reg.test(str)
        }
        
        //isEmail
        function isEmail(str) {
            let reg = /^[a-z\d]+(\.[a-z\d]+)*@([\da-z](-[\da-z])?)+(\.{1,2}[a-z]+)+$/
            return reg.test(str)
        }
        //isPhone
        function isPhone(str) {
            let reg = /^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/
            return reg.test(str)
        }


        
	</script>

</body>
</html>