<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ejs index</title>

    <style>

        ul,body,p{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style: none;
        }
       
        html{
            height: 100%
        }
        body{
            height: 100%;
        }
        .container{
            width: 100%;
            height: 100%;
            background: #ccc;
            overflow: hidden;
            
        }

        .login-con{
            width: 100%;
            height: 200px;
            margin: 30px auto;
        }
        .login-con h3{
            width: 40%;
            margin: 0 auto;
        }
        .login-box{
            width: 40%;
            margin: 0 auto;
        }
        .login-list li{
            margin: 10px 0;
        }
        
        .chat-box{
            display: none;
            overflow-y: auto;
            margin-bottom: 40px;
        }
        
        .title-con{
            margin: 10px auto;
        }

        .chat-con{
            width: 100%;
            padding-left: 40%;
            max-height: 120px;
            /* border: 1px solid #fff; */
            box-sizing: border-box;
            float: right;
            margin: 10px 0;
           
        }

        .inner-msg-all{
            height: 120px;
        }
        .inner-msg-all {
            float: right;
            position: relative;
        }
        .inner-msg-all > div {
            position: absolute;
        }
        .inner-msg-r{
            max-width: 100px;
            max-height: 100px;
            right: 70px;
            background: lightpink;
            border-radius: 10px;
            margin: 3px;
            padding: 5px;
            word-wrap: break-word;
            overflow-y: auto ;
        }
        .header-img-r {
           margin-top: 3px;
           right: 0;
           width: 30px;
           height: 30px;
        }
        .inner-msg-all .inner-name-r {
            margin-top: 5px;
            padding: 3px;
            right: 35px;
            max-width: 30px;
            background: lightsalmon;
            border-radius: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        

        .chat-con-ano{
            width: 100%;
            height: 120px;
            padding-right: 40%;
            /* border: 1px solid paleturquoise; */
            box-sizing: border-box;
            float: left;
            margin: 10px 0;
        }
        .inner-msg-ano{
            float: left;
            position: relative;
        }
        .inner-msg-ano > div {
            position: absolute;
        }
        .header-img-l{
           margin-top: 3px;
           left: 0;
           width: 30px;
           height: 30px;
        }
        .inner-name-l {
            margin-top: 5px;
            padding: 3px;
            left: 35px;
            max-width: 30px;
            background: lightsalmon;
            border-radius: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .inner-msg-l {
            max-width: 100px;
            min-height: 30px;
            left: 70px;
            background: lightpink;
            border-radius: 10px;
            margin: 3px;
            padding: 5px;
            word-wrap: break-word;
            overflow-y: auto;
        }
        
        .chat-con-init{
            min-height: 500px;
        }

        .chat-insert{
            width: 200px;
            height: 30px;
            position: absolute;
            border: 1px solid #fff;
            bottom: 20px;
            left: 40px;
        }
        .input-msg{
            width: 130px;
            height: 20px;
        }

        .title-con{
            width: 100%;
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- <h2>ejs index</h2>
        <div class="nav">
            <ul class="nav-list">
                <% for(let i = 0; i< 5; i++) {%>
                    <li><%= i %></li>
                <% } %>
            </ul>
        </div> -->

        <div class="login-con">
            <h3>登录</h3>
            <hr>
            <div class="login-box">
                <ul class="login-list">
                    <li>
                        <label for="user">用户名</label>
                        <input type="text" id="user" class="user-input" placeholder="username">
                    </li>
                    <li>
                        <label for="login-btn">登&nbsp;&nbsp;&nbsp;录</label>
                        <input type="submit" value="登录" class="sub" >
                    </li>
                </ul>
            </div>
        </div>

        <div class="chat-box">
            <div class="title-con">
                
            </div>
            <div class="chat-con-init">
                <!-- <div class="chat-con">
                    <div class="inner-msg-all">
                        <div class="inner-msg-r">
                            this is myself 
                        </div>
                        <div class="inner-name-r">
                            zhangsan
                        </div>
                        <div class="header-img-r">
                            <img src="/images/add.png" alt="header" width="20" height="20">
                        </div>
                    </div>
                </div> -->
                
                

                <!-- <div class="chat-con-ano">
                    <div class="inner-msg-ano">

                        <div class="header-img-l">
                            <img src="/images/add.png" alt="header" width="20" height="20">
                        </div>
                        <div class="inner-name-l">
                            lisi
                        </div>
                        <div class="inner-msg-l">
                            this issfsdfsdf
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="chat-insert">
                <input type="text" placeholder="say something" class="input-msg">
                <input type="submit" value="send" class="send-msg">
            </div>
        </div>

    </div>

    <script src="js/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
        
        const url = 'http://localhost:8002'
        let socket = io.connect(url) 

        const loginCon = document.querySelector('.login-con')
        const userInput = document.querySelector('.user-input')
        const sub = document.querySelector('.sub')

        //chat-box
        const chatBox = document.querySelector('.chat-box')
        const titleCon = document.querySelector('.title-con')
        const chatInsert = document.querySelector('.chat-insert')
        
        //username
        let _username = null

        //setUsername
        let setUsername = function () {
            _username = userInput.value.trim() //trim() 去除首尾空格
            console.log(_username)
            //if  socket.emit向服务端发送login事件，
            if(_username) {
                socket.emit('login', {
                    username: _username
                })
                console.log(_username)
                return;
            }
        }

        //前端事件
        sub.onclick = function() {
            setUsername()
        }
        //onkeyup
        userInput.onkeyup = function(evt){
            let e = evt || window.event
            if(e.keyCode === 13) {
                setUsername()
            }
        }

        //显示聊天界面
        let beginChat = function () {
            loginCon.style.display = 'none'
            sub.onclick = null
            userInput.onkeyup = null
            
            let p = document.createElement('p')
            p.style.background = 'lightcyan'
            let userTxt = document.createTextNode(`Welcome you : ${_username}`)
            p.appendChild(userTxt)
            //显示页面， welcome
            let str = `<p>欢迎你${_username}</p>`
            titleCon.appendChild(p)

            chatBox.style.display = 'block'
        }
        
        //loginSuccess
        socket.on('loginSuccess', function(data) {
            if(data.username === _username) {
                beginChat()
            }else {
                alert('failed')
            }
        })
        
        //聊天一定是客户端触发的，所以发送信息是客户端触发，服务器监听。
        //sendmessage
        const inputMsg = document.querySelector('.input-msg')
        let sendMessage = function () {
            let _message = inputMsg.value
            if(_message) {
                socket.emit('sendMessage', {
                    username: _username,
                    message: _message
                })
            }
        }

        //sendMsg 触发
        const sendMsg = document.querySelector('.send-msg')
        console.log(sendMsg.value)
        sendMsg.onclick = function() {
            sendMessage()
            inputMsg.value = ''
        }
        inputMsg.onkeydown = function(evt) {
            let e = evt || event
            if(e.keyCode == '13'){
                console.log("ddddddddd")
                sendMessage()
                inputMsg.value = ''
            }

        }

        
        
        //chat-con-init
        const chatConInit = document.querySelector('.chat-con-init')

        
        //recieveMessage
        socket.on('receiveMessage', function(data) {
            showMessage(data)
        })
        let arrMsg = []
        //showMessage
        let showMessage = function (data) {

            //判断这个消息是不是自己发出的，
            if(data.username === _username) {
                // let str = `<p style='background: lightskyblue'><span>${data.username} : </span> ${data.message}</p>`
                // chatCon.style.width = '100%'
                // chatCon.style.margin =  10 + 'px' 
                let str = `<div class="inner-msg-all">
                    <div class="inner-msg-r">
                        ${data.message}
                    </div>
                    <div class="inner-name-r">
                        ${data.username}
                    </div>
                    <div class="header-img-r">
                        <img src="/images/add.png" alt="header" width="20" height="20">
                    </div>
                </div> `
                
                const chatCon = document.createElement('div')
                chatCon.className = 'chat-con'

                let div1 = document.createElement('div')
                div1.className = 'inner-msg-all'
                let div2 = document.createElement('div')
                div2.className = 'inner-msg-r'
                div2.innerText = data.message

                let div3 = document.createElement('div')
                div3.className = 'inner-name-r'
                div3.innerText = data.username
                let div4 = document.createElement('div')
                div4.className = 'header-img-r'

                let img = document.createElement('img')
                img.src = '/images/add.png'
                img.width = '20'
                img.height = '20'
                
                div4.appendChild(img)
                div1.appendChild(div2)
                div1.appendChild(div3)
                div1.appendChild(div4)
                chatCon.appendChild(div1)

                chatConInit.appendChild(chatCon)

            }else {
                // let str = `<p style='background: lightpink'><span>${data.username} : </span> ${data.message}</p>`
                let str =  `<div class="inner-msg-ano">
                                <div class="header-img-l">
                                    <img src="/images/avator.png" alt="header" width="20" height="20">
                                </div>
                                <div class="inner-name-l">
                                    ${data.username}
                                </div>
                                <div class="inner-msg-l">
                                    ${data.message}
                                </div>
                            </div>`
                            
                const chatConAno = document.createElement('div')
                chatConAno.className = 'chat-con-ano'

                let div1 = document.createElement('div')
                div1.className = 'inner-msg-ano'
                let div2 = document.createElement('div')
                div2.className = 'header-img-l'
                let div3 = document.createElement('div')
                div3.className = 'inner-name-l'
                div3.innerText = data.username
                let div4 = document.createElement('div')
                div4.className = 'inner-msg-l'
                div4.innerText = data.message

                let img = document.createElement('img')
                img.src = '/images/avator.png'
                img.width = '20'
                img.height = '20'

                div2.appendChild(img)
                div1.appendChild(div2)
                div1.appendChild(div3)
                div1.appendChild(div4)
                chatConAno.appendChild(div1)

                chatConInit.appendChild(chatConAno)

            }
        }

       
        
    </script>
</body>
</html>